.title {
  background-image: url(https://www.barcelonacodeschool.com/files/pics/cur_files/squares.svg);
  background-size: cover;
  height: 15.5em;
  width: 100%;
  font-family: 'Major Mono Display', monospace;
      color: darkslategray;
  vertical-align: middle;
}
h1 span { 
text-align: center;
margin-left: 2.78em;
box-sizing: inherit;
font-size: 1.3em;
padding-top: 2.35em;
display: inline-block;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  text-decoration: none;
}
a {
  color: inherit;
}


/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
  background-color: black;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
  display: none;
  position: fixed;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  width: 20%;
  margin-left: 2.5%;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
  float: none;
  color: white;
  padding: 1em 1em;
  text-decoration: none;
  display: block;
  text-align: center;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
  background-color: black;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
  display: block;
  }
.navbarBig {
  overflow: hidden;
  background-color: black;
  top: 0;
  width: 100%;
  position: sticky;
  position: -webkit-sticky;
  justify-content: space-around;
  display: grid;
  text-align: center;
  color: white;
  padding: 1em 0 1em 0;
  font-family: 'Ubuntu', sans-serif;
  font-weight: lighter;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 1em;
  }





.navbarBig a:hover {
  color: white;
}
.main {
  margin-top: 30px;
}
.grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    text-align: left;
    padding: 2em 2em;
}

.grid23 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  text-align: left;
  padding: 2em 2em;
}
.boxspace1 {
  margin: 2em 4.9em;
  font-family: 'Bebas Neue', cursive;  
  font-size: large;
}
.boxspace1 p {
  margin:1em 0em;
}
.maplink {
  text-decoration: underline;
}

.boxspace2 {
  margin: 1em 4em;
    box-shadow: -5px 5px 10px 10px #000;
    background-color: black;
    height: fit-content;
    width: fit-content;
    
}

@media screen
and (max-width: 1075px) {
  .boxspace2 iframe {
    height: 215px;
    width: 360px;
  }
}

@media screen
and (min-width: 1075px) {
.boxspace2 iframe {
  height: 315px;
  width: 560px;
}}

.grid3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
  text-align: left;
  padding: 2em 7em 2em 7em;
  line-height: 2em;
}
.media a {
margin-right: .5em;
word-break: break-all;
text-decoration: underline lightseagreen;

}
.boxspace3 {
padding: 5em 5em 3em 5em;
}
.boxspace4 {
padding: 3em 7em;
} 
.boxspace5 {
padding: 0 0 2em 0;
}
.boxspace6 {
padding: 3em 4em 2em 5.25em;
}

.logox {
max-width: 10%;
min-width: 100px;
margin-right: 2em;
margin-left: 2em;
margin-bottom: 2em;
vertical-align: middle;
}

.boxspace7 {
width: 4em;
}

.seperatex {
display: grid;
grid-template-columns: 1fr 10fr;
}

.logox img {
width: 100px;
margin-right: 2%;
vertical-align: middle;
}


.boxspace7 img {
  min-width: 10%;
  max-width: 100px;
  display: block;
  margin: auto;

  
}

.grid4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 4em;
  text-align: left;
  padding: 0em 5em 3em 7.7em;
}
.grid42 {
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-gap: 4em;
text-align: left;
padding: 0em 7em 3em 8em;
}

.black{
  background-color: black;
  color: white;
  font-family: 'Abel', sans-serif;
  line-height: 1em;
}

.black p {
margin-top: 1em;
}

.black a {
text-decoration: underline  lime;
}
.white{
  background-color: white;
  color: black;
  font-family: 'Abel', sans-serif;
}
.white a {
  color: black;
}
.white a:hover {
  color: orangered;
}
.black a {
  color: white;
}
.black a:hover {
  color: lime;
}
a:hover {
  color: cyan;
}
.grid2 a {
    color: black;
    text-decoration: underline lightseagreen;
}
.grid2 a:hover {
  color: lightseagreen;
}

.grid23 a:hover {
color: orangered;
}

.grid23 a {
text-decoration: underline orangered;
margin-top: 1em;
}
.grid23 p {
margin-top: 1.2em;
}


h3 {
    display: block;
}
h2 {
    display: block;
}
.gridTitle {
  border-bottom: 1px solid grey;
  grid-column: 1/3;
}
.gridBoxStyle {
      border: 1px solid grey;
      margin-bottom: 4em;
      text-align: left;
      padding: 1em;
      box-shadow: -3px 3px #000;
}
p {
  line-height: 1.2em;
  margin: 0.3em 0;
}
@media screen
and (max-width: 850px) {
  .grid4 {
    grid-template-columns: 1fr 1fr;
  }
}  
@media screen
and (max-width: 750px) {
  .grid4 {
    grid-template-columns: 1fr;
  }
}
@media screen
and (max-width: 875px) {
  .grid2 {
    grid-template-columns: 1fr;
  }
}  

@media screen
and (max-width: 700px) {
  .grid42 {
    grid-template-columns: 1fr 1fr;
  }
} 
@media screen
and (max-width: 850px) {
  .grid3 {
    grid-template-columns: 1fr 1fr;
  }
}    
@media screen
and (max-width: 700px) {
  .grid3 {
    grid-template-columns: 1fr;
  }
}    
footer a {
  display: block;
  line-height: 2em;
}
.boxspace8 {
margin-bottom: 2em;
}

.chatButton {
position: fixed;
right: 1.5em;
bottom: 3.2em;
color: transparent;
background-color: white;
border: black thin;
border-radius: 1em;
z-index: 1000;
padding: .5em;
cursor: pointer;
}

.chatButton button {
  border: transparent;
}


.chatButton img {
  display: block;
  height: 40px;
  width: 40px;
  z-index: 1000;
}

.yellowhigh {
background-color: yellow;
width: fit-content;
text-underline-position: below;
text-decoration: underline;
}


.newdrop {
  display: flex;
  justify-content: space-evenly;
  font-family: monospace;
  font-size: large;
  position: sticky;
  position: -webkit-sticky;
  background-color: black;
  top: 0px;
}

.newdrop li {
  display: inline-block;
  width: 24%;
  text-align: center;
}
.newdrop ul{
  min-width: -webkit-fill-available;
  padding: 0;
  list-style: none;
  background: black;
}
.newdrop ul li{
  display: inline-block;
    position: relative;
    line-height: 2em;
    text-align: center;
    height: 3em;
    vertical-align: middle;
}
.newdrop ul li a{
  display: inline-block;
  padding: 8px 25px;
  color: white;
  text-decoration: none;
  width: fit-content;
  margin: auto;
}

.newdrop ul li ul.dropdown{
  min-width: 100%; /* Set width of the dropdown */
  background: black;
  display: none;
  position: absolute;
  z-index: 999;
}
.newdrop ul li:hover ul.dropdown{
  display: block;	/* Display the dropdown */
  width: fit-content;
  text-align: center;
  margin: auto;

}
.newdrop ul li ul.dropdown li{
  display: block;
  width: inherit;
  text-align: center;
  margin: auto;
  height: fit-content;

}


